@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
// font styles
$poppins: "Poppins", sans-serif;
$lato: "Lato", sans-serif;
// font sizes
$font-18: 18px;
$font-14: 14px;
$font-12: 12px;
$font-18: 18px;
$font-16: 16px;
$font-23: 23px;
// color
$color-1: #ffffff;
$color-2: #f8f9fa;
$color-3: #d1d5df80;
$color-4: #dddddd;
$color-5: #000000;
$color-6: #555555;
$color-7: #307feb;
$color-8: #e7ebf7;
$color-9: #ef1319;
$color-10: #ededed;
$color-11: #e6e6e6;
$color-12: #f5f5f5;
$color-13: #00000012;
$color-14: #eaf1fc;
$color-15: #d4d4d4;
$color-16: #fff4f4;
$color-17: #f7a1a1;
$color-18: #dd4040;
$color-19: #a9a9a9;
$color-20: #1cb995;
$color-21: #707070;
$color-22: #bbd4f7;
$color-23: #f2f2f2;

body {
  font-family: "Poppins", sans-serif;
  background: darkgrey;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
li {
  list-style: none;
  list-style-type: none;
}

.navbar {
  padding: 15px 0px;
  background: #fff;
  border: none;
  border-radius: 0;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
.first-row {
  background-color: white;
}
.second-row {
  background-color: #f8f9fa;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

#sidebar {
  width: 300px;
  margin-left: 0rem;
  background: #ffffff;
  transition: margin 0.3s;
  // border: 1px solid #dddddd;
  border-radius: 5px 0px 0px 5px;
  opacity: 1;
}

#sidebar.toggled {
  max-width: 0px;
  overflow-x: hidden;
  z-index: 1;
}
.sidebar-menu {
  display: flex;
  padding: 0;
  flex-direction: column;
  color: #555555;
  font-size: 14px;
  border: 1px solid #dddddd;
  border-radius: 5px 0px 0px 5px;
  opacity: 1;
}

.sidebar-menu li {
  padding: 15px;
}
.sidebar-menu span img {
  margin: 0 10px 0 7px;
}

li.have-children,
li {
  position: relative;
}

li.have-children ul li a img {
  margin: 0 10px 0 0;
}

li.have-children span::after {
  position: absolute;
  right: 30px;
  top: 15px;
  content: url(images/dropdown-arrow.png);
  transition: all 0.5s;
}
li.active.have-children span::after {
  transform: rotate(90deg);
}

.sidebar-menu .have-children > ul {
  display: none;
  padding: 0 0px 0 23px;
}
.line {
  width: 82%;
  height: 1px;
  border-bottom: 1px solid #dddddd;
  margin: 20px auto;
}
button.logout {
  border: none;
  color: #555555;
  font-size: 14px;
  background-color: #ededed;
  margin: 11px 70px 24px 70px;
  padding: 10px 17px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
.btn-info.focus,
.btn-info:focus {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}
.btn-info:hover {
  /* color: #fff; */
  background-color: transparent;
  border-color: transparent;
}
.btn.focus,
.btn:focus {
  outline: 0;
  border: none !important;
  box-shadow: none;
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn-info {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}
span.logo {
  padding: 1rem;
}
span.heading {
  padding: 2rem 0;
  font-size: 16px;
  font-weight: 500;
}

.form-group.has-search {
  padding: 25px 34px 0;
  border-radius: 19px;
  display: flex;
  /* background-color: #F5F5F5; */
}

.has-search .form-control {
  padding: 0 3.375rem;
  border-radius: 50px;
  background-color: #f5f5f5;
  color: #555555;
  font-size: 14px;
  /* border-left: 1px solid bisque; */
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  border-right: 1px solid #f5f5f5;
  padding: 0rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
span.close-button {
  /* position: relative; */
  margin: 5px -25px;
}
.top-right.float-right {
  padding: 24px;
}

span.user {
  padding: 1px;
  color: #555555;
  font-size: 14px;
}
span.user-name {
  margin-left: 10px;
}
span.scan {
  margin-left: 10px;
}

/*---------------------------main-content--------------------- */
.order-heading {
  font-size: 18px;
}
.print {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: normal;
}
.print-icon {
  margin: 0 10px 0 0;
}
.print h6 {
  font-size: 14px;
  color: #555555;
}
span.listview {
  padding-left: 22px;
  font-size: 12px;
  /* display: inline-flex; */
}
.row.main-top-row {
  margin-left: -20px;
}
span.list-title {
  color: #307feb;
  margin-left: 4px;
}
span.load-title {
  margin-left: 4px;
}
.row.main-middle-row {
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 5px;
  opacity: 1;
  padding: 10px;
  margin: 1rem 0;
}
span.filter {
  font-size: 14px;
}
span.week,
span.archived,
span.test-order {
  font-size: 14px;
  text-align: center;
  width: 83px;
  background: #e7ebf7 0% 0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 1;
  margin-left: 16px;
}
span.archived {
  width: 103px;
}
span.test-order {
  width: 120px;
}
.order-status-table {
  border: 1px solid #dddddd;
  border-radius: 5px;
  opacity: 1;
}
.order-status-table .table-caption {
  /* padding-left: 510px; */
  display: block;
  float: right;
}
span.add-title {
  color: #307feb;
  font-size: 14px;
  font-weight: 500;
}
span.action {
  margin-left: 50px;
}
span.action-title {
  color: #555555;
  font-weight: 400;
  font-size: 14px;
}
span.down-arrow {
  margin-left: 10px;
}
span.reference {
  margin-left: 30px;
  font-size: 14px;
  color: #555555;
  font-weight: 400;
}
span.solid-arrow {
  margin-left: 55px;
}
img.small-down {
  margin: 10px 0 0 -8px;
}
span.ship {
  font-size: 14px;
  font-weight: 400;
}
span.vj {
  background-color: #1cb995;
  border-radius: 71px;
  margin: -2rem 17px;
  padding: 16px 12px;
  /* height: 30px; */
  /* width: 38px; */
  /* opacity: 19; */
}
span.vj-title {
  /* padding: 15px; */
  margin-top: 34px;
  font-size: 23px;
  color: white;
}

// -----------------------responsive design---------------------------------
@media screen and (max-width: 767px) {
  .row.main-top-row {
    // flex-direction: column;
  }
  .row.main-middle-row {
    flex-direction: column;
  }
  .left-sec.d-flex {
    flex-direction: column;
  }
  span.week,
  span.archived,
  span.test-order {
    margin-left: 0;
  }
  nav#sidebar {
    display: none;
  }
}
